/* Small Screen*/
/*#region*/
.mobileproject {
  align-items: center;
  background-color: var(--mallard);
  display: flex;
  flex-direction: column;
  min-height: 2309px;
  overflow-x: hidden;
}

.mobileproject .header-1 {
  align-items: flex-end;
  display: flex;
  height: 104px;
}

.mobileproject .overlap-group6 {
  height: 91px;
  position: sticky;
}

.mobileproject .background-2 {
  background-color: var(--racing-green-2);
  border-radius: 40px 40px 40px 40px;
  height: 91px;
  transform: rotate(180deg);
  width: 600px;
}

.mobileportfolio .social-icons-1 {
  align-items: flex-end;
  display: flex;
  gap: 28px;
  height: 35px;
  left: 480px;
  position: absolute;
  top: 25px;
}

.mobileproject .overlap-group-5 {
  align-items: center;
  background-color: var(--coriander-2);
  border-radius: 15px;
  display: flex;
  height: 37px;
  left: 460px;
  position: absolute;
  top: 20px;
}

.mobileproject .intersect-2{
  width: 575px;
  position: center;
}

.mobileproject .intersect-3{
  width: 545px;
  position: center;
}

.mobileproject .contact-me-1 {
  height: 19px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  width: 128px;
}

.mobileproject .projects-1 {
  height: 33px;
  left: 287px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 131px;
}

.mobileproject .info-2 {
  display: flex;
  margin-left: 1.0px;
  margin-top: 36px;
  width: 458px;
}

.mobileproject .info-3 {
  align-items: flex-start;
  display: flex;
  height: 118px;
  margin-left: 13px;
  min-width: 436px;
}

.mobileproject .overlap-group-6 {
  align-items: center;
  background-color: var(--black-2);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: -6px;
  min-height: 118px;
  padding: 13px 0;
  width: 432px;
}

.mobileproject .name-1 {
  height: 42px;
  letter-spacing: -1.20px;
  line-height: 48px;
  margin-right: 0.89px;
  margin-top: 4px;
  text-align: center;
  white-space: nowrap;
  width: 403px;
}

.mobileproject .intro-1 {
  height: 46px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  width: 414px;
}

.mobileproject .text-section-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 14.0px;
  margin-top: 36px;
  min-height: 919px;
  width: 583px;
}

.mobileproject .paragraph-1-1 {
  letter-spacing: 0;
  line-height: 26px;
  margin-right: 9.0px;
  min-height: 286px;
  width: 574px;
}

.mobileproject .video-1 {
  background-color: var(--black);
  border-radius: 4px;
  height: 354px;
  margin-left: 1.0px;
  margin-top: 35px;
  width: 574px;
}

.mobileproject .paragraph-2-1 {
  letter-spacing: 0;
  line-height: 21px;
  margin-right: 9.0px;
  margin-top: 34px;
  min-height: 210px;
  width: 574px;
}

.mobileproject .lines-1 {
  height: 13px;
  margin-left: 1.0px;
  margin-top: 43px;
  object-fit: cover;
  width: 572px;
}

.mobileproject .group-1 {
  align-items: flex-start;
  display: flex;
  height: 525px;
  margin-left: 2.0px;
  margin-top: 43px;
  min-width: 579px;
}

.mobileproject .overlap-group5-1 {
  height: 502px;
  position: relative;
  width: 307px;
}

.mobileproject .timeline-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 21px;
  left: 3px;
  min-height: 502px;
  position: absolute;
  top: 0;
  width: 304px;
}

.mobileproject .timeline-title-1 {
  height: 42px;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  width: 251px;
}

.mobileproject .timeline-container {
  height: 440px;
  position: relative;
  width: 304px;
}

.mobileproject .timeline3-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 11px;
  left: 0;
  min-height: 181px;
  padding: 0 19.5px;
  position: absolute;
  top: 259px;
  width: 304px;
}

.mobileproject .overlap-group-4 {
  align-self: center;
  height: 34px;
  margin-right: 30.4px;
  margin-top: -2px;
  position: relative;
  width: 169px;
}

.mobileproject .heading-1 {
  height: 20px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 14px;
  width: 169px;
}

.mobileproject .date-release-1 {
  height: 16px;
  left: 0;
  letter-spacing: 0.30px;
  line-height: 16px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.mobileproject .text-1 {
  letter-spacing: 0;
  line-height: 21px;
  min-height: 59px;
  width: 232px;
}

.mobileproject .timeline2-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 11px;
  left: 0;
  min-height: 181px;
  padding: 0 19.5px;
  position: absolute;
  top: 130px;
  width: 304px;
}

.mobileproject .timeline1-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 11px;
  left: 0;
  min-height: 181px;
  padding: 0 19.5px;
  position: absolute;
  top: 0;
  width: 304px;
}

.mobileproject .union-1-1 {
  height: 408px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 78px;
  width: 48px;
}

.mobileproject .flex-col {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 19px;
  min-height: 525px;
  width: 270px;
}

.mobileproject .overlap-group4-1 {
  height: 149px;
  margin-right: 2.0px;
  position: relative;
  width: 262px;
}

.mobileproject .p2-background-2 {
  height: 141px;
  top: 7px;
  width: 254px;
}

.mobileproject .p2-image-2 {
  background-image: url(../img/p2-image-1@2x.png);
  height: 141px;
  left: 8px;
  width: 254px;
}

.mobileproject .paragraph-3-1 {
  letter-spacing: 0;
  line-height: 21px;
  min-height: 357px;
  width: 270px;
}

.mobileproject .image-2 {
  align-items: flex-end;
  display: flex;
  margin-left: 4.93px;
  margin-top: 43px;
  min-width: 576px;
}

.mobileproject .overlap-group-7 {
  height: 327px;
  margin-bottom: 0;
  position: relative;
  width: 576px;
}

.mobileproject .p2-background-3 {
  height: 311px;
  top: 16px;
  width: 558px;
}

.mobileproject .p2-image-3 {
  background-image: url(../img/p2-image.png);
  height: 311px;
  left: 18px;
  width: 558px;
}

.mobileproject .p2-background {
  background-color: var(--dingley);
  border-radius: 4px;
  left: 0;
  position: absolute;
}

.mobileproject .p2-image {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 4px;
  position: absolute;
  top: 0;
}
/*#endregion Small Screen*/

/* Medium Screen */
/*#region*/
.webproject-2 {
  align-items: flex-start;
  background-color: var(--mallard);
  display: flex;
  flex-direction: column;
  min-height: 1468px;
  width: 980px;
  width: 100%;
}

.webproject-2 .header-2 {
  align-items: flex-end;
  align-self: flex-end;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 104px;
  justify-content: flex-start;
  margin-right: -2px;
  width: 777px;
}

.contact-me-2 a{
  color: inherit;
}

.webproject-2 .overlap-group2-1 {
  border-radius: 2px 40px 40px 2px;
  height: 91px;
  margin-left: 66px;
  position: relative;
  width: 711px;
}

.webproject-2 .background-3 {
  background-color: var(--racing-green-2);
  height: 91px;
  transform: rotate(180deg);
  width: 711px;
}

.webproject-2 .overlap-group-8 {
  align-items: center;
  background-color: var(--coriander-2);
  border-radius: 15px;
  display: flex;
  height: 37px;
  left: 564px;
  min-width: 128px;
  position: absolute;
  top: 20px;
}

.webproject-2 .intersect-4 {
  height: 1px;
  width: 697.98px;
}

.webproject-2 .intersect-5 {
  height: 2px;
  margin-left: 16.0px;
  width: 681.94px;
}

.webproject-2 .overlap-group5-2 {
  height: 971px;
  margin-top: 22px;
  position: relative;
  width: 943px;
}

.webproject-2 .timeline-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 23px;
  left: 35px;
  min-height: 554px;
  position: absolute;
  top: 417px;
  width: 390px;
}

.webproject-2 .timeline-title-2 {
  height: 46px;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  width: 322px;
}

.webproject-2 .overlap-group1-1 {
  height: 486px;
  position: relative;
  width: 390px;
}

.webproject-2 .timeline3-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 200px;
  padding: 0 25px;
  position: absolute;
  top: 286px;
  width: 390px;
}

.webproject-2 .date-release-2 {
  height: 16px;
  letter-spacing: 0.30px;
  line-height: 16px;
  margin-left: 42px;
  margin-top: -1px;
  white-space: nowrap;
}

.webproject-2 .heading-2 {
  align-self: center;
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  margin-right: 39.0px;
  width: 217px;
}

.webproject-2 .text-2 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: 13px;
  min-height: 65px;
  width: 298px;
}

.webproject-2 .timeline2-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 200px;
  padding: 0 25px;
  position: absolute;
  top: 143px;
  width: 390px;
}

.webproject-2 .timeline1-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 200px;
  padding: 0 25px;
  position: absolute;
  top: 0;
  width: 390px;
}

.webproject-2 .union-1-2 {
  height: 449px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 53px;
}

.webproject-2 .image-timeline-1 {
  display: flex;
  height: 233px;
  left: 35px;
  position: absolute;
  top: 163px;
  width: 365px;
}

.webproject-2 .image-3 {
  flex: 1;
  min-width: 365.37px;
}

.webproject-2 .overlap-group-9 {
  height: 233px;
  position: relative;
  width: 365px;
}

.webproject-2 .p2-background-4 {
  height: 221px;
  top: 12px;
  width: 354px;
}

.webproject-2 .p2-image-4 {
  background-image: url(../img/p2-image-3@2x.png);
  height: 221px;
  left: 11px;
  width: 354px;
}

.webproject-2 .overlap-group4-2 {
  height: 923px;
  left: 0;
  position: absolute;
  top: 0;
  width: 943px;
}

.webproject-2 .text-section-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 34px;
  left: 442px;
  min-height: 907px;
  position: absolute;
  top: 16px;
  width: 501px;
}

.webproject-2 .paragraph-1-2 {
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 1.01px;
  min-height: 338px;
  width: 492px;
}

.webproject-2 .video-2 {
  align-self: flex-start;
  background-color: var(--black);
  border-radius: 4px;
  height: 270px;
  width: 481px;
}

.webproject-2 .paragraph-2-2 {
  letter-spacing: 0;
  line-height: 21px;
  margin-right: 9.01px;
  min-height: 231px;
  width: 481px;
}

.webproject-2 .overlap-group3-1 {
  height: 135px;
  left: 0;
  position: absolute;
  top: 0;
  width: 478px;
}

.webproject-2 .background-4 {
  background-color: var(--black-2);
  height: 135px;
  width: 416px;
}

.webproject-2 .intro-2 {
  left: 20px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 68px;
  width: 365px;
}

.webproject-2 .name-2 {
  height: 48px;
  left: 20px;
  letter-spacing: -1.20px;
  line-height: 48px;
  position: absolute;
  top: 15px;
  white-space: nowrap;
  width: 438px;
}

.webproject-2 .lines-2 {
  height: 10px;
  margin-left: 1px;
  object-fit: cover;
  width: 424px;
}

.webproject-2 .bottom-text-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 28px;
  height: 301px;
  margin-right: 8.56px;
  margin-top: 20px;
  min-width: 881px;
}

.webproject-2 .paragraph-3-2 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 21px;
  min-height: 298px;
  width: 408px;
}

.webproject-2 .image-4 {
  min-width: 443px;
}

.webproject-2 .overlap-group-10 {
  height: 288px;
  margin-top: 0;
  position: relative;
  width: 443px;
}

.webproject-2 .p2-background-5 {
  height: 274px;
  top: 14px;
  width: 429px;
}

.webproject-2 .p2-image-5 {
  background-image: url(../img/p2-image-2@2x.png);
  height: 274px;
  left: 14px;
  width: 429px;
}

.webproject-2 .background {
  border-radius: 2px 40px 40px 2px;
  left: 0;
  position: absolute;
  top: 0;
}

.webproject-2 .image {
  align-items: flex-start;
  display: flex;
}

.webproject-2 .p2-background {
  background-color: var(--dingley);
  border-radius: 4px;
  left: 0;
  position: absolute;
}

.webproject-2 .p2-image {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 4px;
  position: absolute;
  top: 0;
}
/*#endregion Medium Screen*/

/* Full Screen */
/*#region*/
.webproject-1-all-breakpoints {
  align-items: center;
  background-color: var(--mallard);
  display: flex;
  flex-direction: column;
  gap: 52px;
  min-height: 1468px;
  width: 1200px;
  width: 100%;
  overflow-x: hidden;
}

/* Header */
.webproject-1-all-breakpoints .overlap-group3 {
  height: 181px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1202px;
}

.webproject-1-all-breakpoints .header {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 104px;
  justify-content: flex-start;
  left: 425px;
  position: absolute;
  top: 0;
  width: 777px;
}

.webproject-1-all-breakpoints .overlap-group2 {
  border-radius: 2px 40px 40px 2px;
  height: 91px;
  margin-left: 66px;
  position: relative;
  width: 711px;
}

.webproject-1-all-breakpoints .background {
  background-color: var(--racing-green-2);
  border-radius: 2px 40px 40px 2px;
  height: 91px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 711px;
}

.webproject-1-all-breakpoints .overlap-group {
  align-items: center;
  background-color: var(--coriander-2);
  border-radius: 15px;
  display: flex;
  height: 37px;
  left: 564px;
  min-width: 128px;
  position: absolute;
  top: 20px;
}

/*-----*/

.webproject-1-all-breakpoints .overlap-group4 {
  height: 1070px;
  margin-left: 2.0px;
  position: relative;
  width: 1202px;
}

.webproject-1-all-breakpoints .overlap-group5 {
  height: 1051px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1202px;
}

.webproject-1-all-breakpoints .text-section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  left: 496px;
  min-height: 909px;
  position: absolute;
  top: 142px;
  width: 660px;
}

.webproject-1-all-breakpoints .paragraph-1 {
  letter-spacing: 0;
  line-height: 26px;
  min-height: 286px;
  width: 656px;
}

.webproject-1-all-breakpoints .video {
  background-color: var(--black);
  border-radius: 4px;
  height: 354px;
  width: 630px;
}

.webproject-1-all-breakpoints .paragraph-2 {
  letter-spacing: 0;
  line-height: 21px;
  min-height: 189px;
  width: 643px;
}

/* Info */
.webproject-1-all-breakpoints .info {
  display: flex;
  height: 146px;
  left: 0;
  position: absolute;
  top: 35px;
  width: 476px;
}

.webproject-1-all-breakpoints .info-1 {
  align-items: flex-start;
  display: flex;
  margin-top: 5px;
  min-width: 506.82px;
}

.webproject-1-all-breakpoints .overlap-group-1 {
  height: 135px;
  position: relative;
  width: 503px;
}

.webproject-1-all-breakpoints .background-1 {
  background-color: var(--black-2);
  border-radius: 2px 40px 40px 2px;
  height: 135px;
  left: 0;
  position: absolute;
  top: 0;
  width: 438px;
}

.webproject-1-all-breakpoints .intro {
  left: 43px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 68px;
  width: 384px;
}

.webproject-1-all-breakpoints .name {
  height: 48px;
  left: 42px;
  letter-spacing: -1.20px;
  line-height: 48px;
  position: absolute;
  top: 15px;
  white-space: nowrap;
  width: 461px;
}

.webproject-1-all-breakpoints .image-timeline {
  flex-direction: column;
  left: 0;
  min-height: 864px;
  position: absolute;
  top: 206px;
  width: 449px;
}

.webproject-1-all-breakpoints .image {
  align-items: flex-start;
  display: flex;
  margin-right: 11px;
  min-width: 391px;
}

.webproject-1-all-breakpoints .overlap-group-2 {
  height: 222px;
  position: relative;
  width: 391px;
}

.webproject-1-all-breakpoints .p2-background {
  background-color: var(--dingley);
  left: 0;
  top: 11px;
}

.webproject-1-all-breakpoints .p2-image {
  background-image: url(../img/p2-image-5@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  left: 12px;
  top: 0;
}

.webproject-1-all-breakpoints .timeline {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-top: 65px;
  min-height: 554px;
  width: 390px;
}

.webproject-1-all-breakpoints .timeline-title {
  height: 46px;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  width: 322px;
}

.webproject-1-all-breakpoints .overlap-group1 {
  height: 486px;
  position: relative;
  width: 390px;
}

.webproject-1-all-breakpoints .timeline3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 200px;
  padding: 0 25px;
  position: absolute;
  top: 286px;
  width: 390px;
}

.webproject-1-all-breakpoints .date-release {
  height: 16px;
  letter-spacing: 0.30px;
  line-height: 16px;
  margin-left: 42px;
  margin-top: -1px;
  white-space: nowrap;
}

.webproject-1-all-breakpoints .heading {
  align-self: center;
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  margin-right: 39.0px;
  width: 217px;
}

.webproject-1-all-breakpoints .text {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: 13px;
  min-height: 65px;
  width: 298px;
}

.webproject-1-all-breakpoints .timeline2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 200px;
  padding: 0 25px;
  position: absolute;
  top: 143px;
  width: 390px;
}

.webproject-1-all-breakpoints .timeline1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 200px;
  padding: 0 25px;
  position: absolute;
  top: 0;
  width: 390px;
}

.webproject-1-all-breakpoints .union-1 {
  height: 449px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 53px;
}

.webproject-1-all-breakpoints .lines {
  align-self: flex-start;
  height: 10px;
  margin-top: 13px;
  object-fit: cover;
  width: 424px;
}

.webproject-1-all-breakpoints .bottom-text {
  align-items: flex-start;
  display: flex;
  gap: 73px;
  margin-right: 34.0px;
  min-width: 1090px;
}

.webproject-1-all-breakpoints .paragraph-3 {
  letter-spacing: 0;
  line-height: 21px;
  min-height: 231px;
  width: 490px;
}

.webproject-1-all-breakpoints .image-1 {
  min-width: 525px;
}

.webproject-1-all-breakpoints .overlap-group-3 {
  height: 298px;
  margin-bottom: 0;
  position: relative;
  width: 525px;
}

.webproject-1-all-breakpoints .p2-background-1 {
  background-color: var(--dingley);
  border-radius: 4px;
  height: 283px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 509px;
}

.webproject-1-all-breakpoints .p2-image-1 {
  background-image: url(../img/p2-image-4.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 4px;
  height: 283px;
  left: 16px;
  position: absolute;
  top: 0;
  width: 509px;
}

.webproject-1-all-breakpoints .image-2 {
  align-items: flex-end;
  display: flex;
}

.webproject-1-all-breakpoints .p2 {
  border-radius: 4px;
  height: 211px;
  position: absolute;
  width: 379px;
}
/*#endregion*/

@media screen and (max-width: 979px) {
  .screen.webproject-1-all-breakpoints { 
    display: none;
   }
  .screen.webproject-2 { 
    display: none;
   }
}
@media screen and (min-width: 980px) and (max-width: 1199px) {
  .screen.webproject-1-all-breakpoints { 
    display: none;
   }
  .screen.mobileproject { 
    display: none;
   }
}
@media screen and (min-width: 1200px) {
  .screen.mobileproject { 
    display: none;
   }
  .screen.webproject-2 { 
    display: none;
   }
}