body {
    margin: 0;
    padding: 0;
    /* Make the body occupy the entire viewport */
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
    overflow-y: auto; /* Allow vertical scrollbar when needed */
  }

  
  .custom-link {
    color: #eaf0e2; /* Set the color you want */
    text-decoration: none; /* Remove underline if not desired */
  }
  
  .custom-link:hover {
    text-decoration: underline; /* Add underline on hover */
  }

.portfolio-web {
  background-color: #1f381d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.portfolio-web .div {
  background-color: #1f381d;
  width: 1333px;
  height: 2245px;
  position: relative;
}

.portfolio-web .scroll-frame {
  position: absolute;
  width: 797px;
  height: 2245px;
  top: 0;
  left: 479px;
}

.portfolio-web .footer {
  position: absolute;
  width: 349px;
  height: 20px;
  top: 2205px;
  left: 448px;
  font-family: "Istok Web-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.portfolio-web .text-wrapper {
  color: #c4d2af;
}

.portfolio-web .span {
  color: #eaf0e2;

}

.portfolio-web .projects {
  position: absolute;
  width: 577px;
  height: 501px;
  top: 1360px;
  left: 113px;
}

.portfolio-web .additional-projects {
  position: absolute;
  width: 165px;
  height: 20px;
  top: 481px;
  left: 4px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 400;
  color: #eaf0e2;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.portfolio-web .text-wrapper-2 {
  font-weight: 600;
}

.portfolio-web .text-wrapper-3 {
  font-family: "Inter-Regular", Helvetica;
}

.portfolio-web .project {
  position: absolute;
  width: 575px;
  height: 206px;
  top: 241px;
  left: 0;
}

.portfolio-web .body {
  position: absolute;
  width: 575px;
  height: 84px;
  top: 105px;
  left: 0;
  font-family: "Istok Web-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.portfolio-web .text-wrapper-4 {
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #eaf0e2;
}

.portfolio-web .tags {
  display: inline-flex;
  align-items: flex-start;
  gap: 9px;
  position: absolute;
  top: 40px;
  left: 154px;
}

.portfolio-web .p-tag {
  display: inline-flex;
  height: 28px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 12px;
  position: relative;
  flex: 0 0 auto;
  background-color: #0d1d08;
  border-radius: 90px;
}

.portfolio-web .text {
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  color: #eaf0e2;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.portfolio-web .text-2 {
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  color: #eaf0e2;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.portfolio-web .overlap-group {
  position: absolute;
  width: 143px;
  height: 81px;
  top: 0;
  left: 0;
}

.portfolio-web .background {
  position: absolute;
  width: 138px;
  height: 77px;
  top: 4px;
  left: 0;
  background-color: #6b8245;
  border-radius: 4px;
}

.portfolio-web .image {
  position: absolute;
  width: 138px;
  height: 77px;
  top: 0;
  left: 4px;
  border-radius: 4px;
  background-image: url(./img/DoubtsDungeon.png);
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio-web .heading {
  position: absolute;
  width: 383px;
  height: 20px;
  top: 5px;
  left: 154px;
  font-family: "Istok Web-Regular", Helvetica;
  font-weight: 400;
  color: #eaf0e2;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.portfolio-web .heading a {
    color: inherit; /* Use the default text color */
    text-decoration: none; /* Remove the underline */
  }
  
  .portfolio-web .heading a:hover {
    text-decoration: underline; /* Add underline on hover if desired */
  }

.portfolio-web .project-2 {
  position: absolute;
  width: 575px;
  height: 206px;
  top: 0;
  left: 0;
}

.portfolio-web .p-image {
  position: absolute;
  width: 138px;
  height: 77px;
  top: 0;
  left: 4px;
  border-radius: 4px;
  background-image: url(./img/Stigma.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio-web .vector {
  width: 571px;
  top: 1305px;
  left: 117px;
  position: absolute;
  height: 13px;
}

.portfolio-web .experiences {
  position: absolute;
  width: 575px;
  height: 736px;
  top: 527px;
  left: 117px;
}

.portfolio-web .resume-link {
  position: absolute;
  width: 157px;
  height: 20px;
  top: 716px;
  left: 0;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 400;
  color: #eaf0e2;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.portfolio-web .text-wrapper-5 {
  font-weight: 700;
}

.portfolio-web .text-wrapper-6 {
  font-family: "Istok Web-Regular", Helvetica;
}

.portfolio-web .experience {
  position: absolute;
  width: 557px;
  height: 166px;
  top: 494px;
  left: 3px;
}

.portfolio-web .overlap-group-2 {
  position: relative;
  height: 166px;
}

.portfolio-web .e-experience {
  position: absolute;
  width: 556px;
  height: 166px;
  top: 0;
  left: 1px;
}

.portfolio-web .job-description {
  display: inline-flex;
  flex-direction: column;
  height: 166px;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 139px;
}

.portfolio-web .e-heading {
  position: relative;
  width: 425px;
  margin-top: -1px;
  font-family: "Istok Web-Regular", Helvetica;
  font-weight: 400;
  color: #eaf0e2;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.portfolio-web .e-text {
  position: relative;
  width: 424.58px;
  top: -25px;
  font-family: "Istok Web-Regular", Helvetica;
  font-weight: 400;
  color: #c4d2af;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.portfolio-web .date-tags {
  display: inline-flex;
  flex-direction: column;
  height: 153px;
  align-items: flex-start;
  gap: 18px;
  position: absolute;
  top: 7px;
  left: 0;
}

.portfolio-web .date {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #6e8b64;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 16px;
  white-space: nowrap;
}

.portfolio-web .e-tags {
  position: absolute;
  width: 110px;
  height: 108px;
  top: 40px;
  left: 0;
}

.portfolio-web .e-tag {
  display: inline-flex;
  height: 28px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 12px;
  position: absolute;
  top: 80px;
  left: 54px;
  background-color: #0d1d08;
  border-radius: 90px;
}

.portfolio-web .div-wrapper {
  display: inline-flex;
  height: 28px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 12px;
  position: absolute;
  top: 40px;
  left: 1px;
  background-color: #0d1d08;
  border-radius: 90px;
}

.portfolio-web .e-tag-2 {
  display: inline-flex;
  height: 28px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 12px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0d1d08;
  border-radius: 90px;
}

.portfolio-web .e-tag-3 {
  display: inline-flex;
  height: 28px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 12px;
  position: absolute;
  top: 80px;
  left: 4px;
  background-color: #0d1d08;
  border-radius: 90px;
}

.portfolio-web .overlap-wrapper {
  position: absolute;
  width: 552px;
  height: 166px;
  top: 278px;
  left: 2px;
}

.portfolio-web .experience-2 {
  position: absolute;
  width: 552px;
  height: 166px;
  top: 0;
  left: 0;
}

.portfolio-web .e-job-description {
  display: inline-flex;
  flex-direction: column;
  height: 166px;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 137px;
}

.portfolio-web .e-date-tags {
  display: inline-flex;
  flex-direction: column;
  height: 153px;
  align-items: flex-start;
  gap: 18px;
  position: absolute;
  top: 7px;
  left: 1px;
}

.portfolio-web .tags-2 {
  position: absolute;
  width: 120px;
  height: 67px;
  top: 41px;
  left: 1px;
}

.portfolio-web .e-tag-4 {
  display: inline-flex;
  height: 28px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 12px;
  position: absolute;
  top: 39px;
  left: 0;
  background-color: #0d1d08;
  border-radius: 90px;
}

.portfolio-web .e-tag-5 {
  display: inline-flex;
  height: 28px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 12px;
  position: absolute;
  top: 0;
  left: 50px;
  background-color: #0d1d08;
  border-radius: 90px;
}

.portfolio-web .overlap-group-wrapper {
  position: absolute;
  width: 571px;
  height: 228px;
  top: 0;
  left: 2px;
}

.portfolio-web .overlap {
  position: relative;
  height: 228px;
}

.portfolio-web .experience-3 {
  position: absolute;
  width: 571px;
  height: 166px;
  top: 0;
  left: 0;
}

.portfolio-web .job-description-2 {
  display: inline-flex;
  flex-direction: column;
  height: 166px;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 146px;
}

.portfolio-web .p {
  position: relative;
  width: 424.58px;
  margin-bottom: 5px;
  font-family: "Istok Web-Regular", Helvetica;
  font-weight: 400;
  color: #c4d2af;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.portfolio-web .date-wrapper {
  display: flex;
  flex-direction: column;
  width: 122px;
  height: 153px;
  align-items: flex-start;
  gap: 18px;
  position: absolute;
  top: 7px;
  left: 2px;
}

.portfolio-web .tags-3 {
  position: absolute;
  width: 134px;
  height: 188px;
  top: 40px;
  left: 0;
}

.portfolio-web .e-tag-6 {
  display: inline-flex;
  height: 28px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 12px;
  position: absolute;
  top: 160px;
  left: 65px;
  background-color: #0d1d08;
  border-radius: 90px;
}

.portfolio-web .e-tag-7 {
  display: inline-flex;
  height: 28px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 12px;
  position: absolute;
  top: 160px;
  left: 0;
  background-color: #0d1d08;
  border-radius: 90px;
}

.portfolio-web .e-tag-8 {
  display: inline-flex;
  height: 28px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 12px;
  position: absolute;
  top: 120px;
  left: 50px;
  background-color: #0d1d08;
  border-radius: 90px;
}

.portfolio-web .e-tag-9 {
  display: inline-flex;
  height: 28px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 12px;
  position: absolute;
  top: 120px;
  left: 0;
  background-color: #0d1d08;
  border-radius: 90px;
}

.portfolio-web .e-tag-10 {
  display: inline-flex;
  height: 28px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 12px;
  position: absolute;
  top: 80px;
  left: 0;
  background-color: #0d1d08;
  border-radius: 90px;
}

.portfolio-web .e-tag-11 {
  display: inline-flex;
  height: 28px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 12px;
  position: absolute;
  top: 40px;
  left: 80px;
  background-color: #0d1d08;
  border-radius: 90px;
}

.portfolio-web .e-tag-12 {
  display: inline-flex;
  height: 28px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 12px;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #0d1d08;
  border-radius: 90px;
}

.portfolio-web .img {
  width: 570px;
  top: 472px;
  left: 120px;
  position: absolute;
  height: 13px;
}

.portfolio-web .intro {
  position: absolute;
  width: 576px;
  height: 321px;
  top: 110px;
  left: 118px;
}

.portfolio-web .paragraph {
  height: 130px;
  top: 191px;
  color: #c4d2af;
  position: absolute;
  width: 572px;
  left: 0;
  font-family: "Istok Web-Regular", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
}

.portfolio-web .paragraph-2 {
  height: 156px;
  top: 0;
  color: transparent;
  position: absolute;
  width: 572px;
  left: 0;
  font-family: "Istok Web-Regular", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
}

.portfolio-web .text-wrapper-7 {
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #c4d2af;
}

.portfolio-web .header {
  position: fixed;
  width: 352px;
  height: 613px;
  top: 0;
  left: 70px;
  background-color: transparent;
}

.portfolio-web .overlap-2 {
  position: relative;
  width: 429px;
  height: 566px;
  top: 43px;
  left: -71px;
}

.portfolio-web .picture {
  position: absolute;
  width: 331px;
  height: 403px;
  top: 0;
  left: 39px;
  object-fit: cover;
}

.portfolio-web .info {
  position: absolute;
  width: 429px;
  height: 200px;
  top: 366px;
  left: 0;
}

.portfolio-web .overlap-group-3 {
  position: relative;
  width: 423px;
  height: 200px;
  background-color: #0106008c;
  border-radius: 2px 40px 40px 2px;
}

.social-icons {
    position: relative;
    width: 114px;
    height: 24px;
  }
  
  .social-icons .github-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    top: 162px;
    left: 31px;
  }
  
  .social-icons .instagram-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 44px;
    top: 162px;
    left: 75px;
  }
  
  .social-icons .linked-in-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 88px;
    top: 162px;
    left: 119px;
  }

.portfolio-web .intro-2 {
  position: absolute;
  width: 392px;
  height: 44px;
  top: 92px;
  left: 31px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #c4d2af;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.portfolio-web .overlap-3 {
  position: absolute;
  width: 339px;
  height: 85px;
  top: 7px;
  left: 31px;
}

.portfolio-web .title {
  position: absolute;
  width: 284px;
  height: 28px;
  top: 57px;
  left: 0;
  font-family: "Istok Web-Regular", Helvetica;
  font-weight: 400;
  color: #eaf0e2;
  font-size: 20px;
  letter-spacing: -0.5px;
  line-height: 28px;
  white-space: nowrap;
}

.portfolio-web .name {
  position: absolute;
  width: 339px;
  height: 59px;
  top: 0;
  left: 0;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #eaf0e2;
  font-size: 48px;
  letter-spacing: -1.2px;
  line-height: 48px;
}
